Repository saudkhan116/DataSpaceConnector, changes with the owners that CODEOWNERS names for each.
All owners: @MoritzKeppler, @juliapampus, @alexandrudanciu, @mspiekermann, @paullatzelsperger, @ndr-brt, @algattik, @ouphi, @bscholtes1A, @jimmarino, @ronjaquensel, @DominikPinsel, @denisneuling, @Izzzu, @cpeeyush, @bcronin90

create file-transfer extension, create launchers for consumer and provider connectors, update files from upstream project, resolve conflicts
  .gitignore
  build.gradle.kts
  extensions/transfer-file/build.gradle.kts
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataSink.java
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataSinkFactory.java
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataSource.java
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataSourceFactory.java
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataStreamPublisher.java
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferExtension.java
  extensions/transfer-file/src/main/resources/META-INF/services/org.eclipse.dataspaceconnector.spi.system.ServiceExtension
  launchers/consumer-connector/Dockerfile
  launchers/consumer-connector/build.gradle.kts
  launchers/consumer-connector/config.properties
  launchers/provider-connector/Dockerfile
  launchers/provider-connector/build.gradle.kts
  launchers/provider-connector/config.properties
  samples/04.0-file-transfer/data/marker.txt
  samples/04.0-file-transfer/data/test-document.json
  samples/04.0-file-transfer/listener/src/main/java/org/eclipse/dataspaceconnector/extensions/listener/MarkerFileCreator.java
  samples/04.0-file-transfer/listener/src/main/java/org/eclipse/dataspaceconnector/extensions/listener/TransferListenerExtension.java
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/BatteryPassport.vue
  samples/04.0-file-transfer/registry/contractoffers/12345_contractoffer_dismantler.json
  samples/04.0-file-transfer/registry/contractoffers/12345_contractoffer_oem.json
  samples/04.0-file-transfer/registry/contractoffers/BMW_contractoffer.json
  samples/04.0-file-transfer/registry/contractoffers/BMW_multiple assets.json
  samples/04.0-file-transfer/registry/contractoffers/LRP_contractoffer.json
  samples/04.0-file-transfer/registry/contractoffers/Tech4u_contractoffer.json
  samples/04.0-file-transfer/registry/contractoffers/test-battery_oem_contractoffer - Copy.json
  samples/04.0-file-transfer/registry/contractoffers/test-battery_oem_contractoffer.json
  samples/04.0-file-transfer/registry/metadata/BASF_Raw Material Supplier.json
  samples/04.0-file-transfer/registry/metadata/LRP_Dismantler.json
  samples/04.0-file-transfer/registry/metadata/Tech4u_Recycler.json
  settings.gradle.kts
Owners: @ronjaquensel

rename and change in contract and metadata files
  samples/04.0-file-transfer/registry/contractoffers/test-battery-1_dismantler.json
  samples/04.0-file-transfer/registry/contractoffers/test-battery-1_oem.json
  samples/04.0-file-transfer/registry/metadata/BMW_OEM.json
  samples/04.0-file-transfer/registry/metadata/LRP_Dismantler.json
Owners: @ronjaquensel

resolve conflicts from upstream and update frontend app
  extensions/api/api-core/src/main/java/org/eclipse/dataspaceconnector/api/exception/mappers/EdcApiExceptionMapper.java
  extensions/data-plane-selector/selector-store/src/main/java/org/eclipse/dataspaceconnector/dataplane/selector/store/DataPlaneInstanceStoreExtension.java
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataSink.java
  samples/04.0-file-transfer/api/src/main/java/org/eclipse/dataspaceconnector/extensions/api/ConsumerApiController.java
  samples/04.0-file-transfer/consumer/config.properties
  samples/04.0-file-transfer/listener/build.gradle.kts
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/App.vue
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/assets/users.json
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/BatteryPassport.vue
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/Login.vue
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/Navigation.vue
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/router.js
  samples/04.0-file-transfer/registry/metadata/LRP_Dismantler.json
  samples/04.0-file-transfer/registry/metadata/Tech4u_Recycler.json
Owners: @ndr-brt, @paullatzelsperger, @ronjaquensel

test kubernetes deployment
  deployment/edc_consumer/deployment.yaml
  deployment/edc_consumer/service.yaml
  launchers/consumer-connector/Dockerfile
  launchers/provider-connector/Dockerfile
Owners: none

deployment test with helm chart
  deployment/edc_consumer/Chart.yaml
  deployment/edc_consumer/values.yaml
  deployment/helm-edc-consumer/.helmignore
  deployment/helm-edc-consumer/templates/NOTES.txt
  deployment/helm-edc-consumer/templates/_helpers.tpl
  deployment/helm-edc-consumer/templates/deployment.yaml
  deployment/helm-edc-consumer/templates/service.yaml
Owners: none

deployment test with helm
  deployment/helm-edc-consumer/Chart.yaml
  deployment/helm-edc-consumer/deployment.yaml
  deployment/helm-edc-consumer/service.yaml
  deployment/helm-edc-consumer/values.yaml
Owners: none

deployment test with example helm-guestbook
  deployment/helm-edc-consumer/deployment.yaml
  deployment/helm-edc-consumer/helm-guestbook/.helmignore
  deployment/helm-edc-consumer/helm-guestbook/Chart.yaml
  deployment/helm-edc-consumer/helm-guestbook/templates/NOTES.txt
  deployment/helm-edc-consumer/helm-guestbook/templates/_helpers.tpl
  deployment/helm-edc-consumer/helm-guestbook/templates/deployment.yaml
  deployment/helm-edc-consumer/helm-guestbook/templates/service.yaml
  deployment/helm-edc-consumer/helm-guestbook/values-production.yaml
  deployment/helm-edc-consumer/helm-guestbook/values.yaml
  deployment/helm-edc-consumer/service.yaml
  deployment/helm-edc-consumer/templates/deployment.yaml
  deployment/helm-edc-consumer/templates/service.yaml
Owners: none

deployment test for edc-consumer
  deployment/edc-consumer/deployment.yaml
  deployment/edc-consumer/service.yaml
Owners: none

deployment artifacts for connectors
  deployment/edc-provider/deployment.yaml
  deployment/edc-provider/service.yaml
Owners: none

correct namespace
  deployment/edc-consumer/deployment.yaml
  deployment/edc-consumer/service.yaml
  deployment/edc-provider/deployment.yaml
  deployment/edc-provider/service.yaml
Owners: none

create ingress resource
  deployment/ingress-edc.yaml
Owners: none

fix indentation issue in deployment/ingress-edc.yaml
  deployment/ingress-edc.yaml
Owners: none

deploy consumer frontend in ArgoCD
  deployment/consumer-ui/deployment.yaml
  deployment/consumer-ui/service.yaml
  deployment/ingress-edc.yaml
Owners: none

deploy consumer frontend in ArgoCD
  deployment/consumer-ui/deployment.yaml
  deployment/consumer-ui/service.yaml
Owners: none

update upstream and resolve conflicts
  extensions/api/data-management/consumerapi/build.gradle.kts
  extensions/api/data-management/consumerapi/src/main/java/org/eclipse/dataspaceconnector/extensions/api/ApiEndpointExtension.java
  extensions/api/data-management/consumerapi/src/main/java/org/eclipse/dataspaceconnector/extensions/api/ConsumerApiController.java
  extensions/api/data-management/consumerapi/src/main/resources/META-INF/services/org.eclipse.dataspaceconnector.spi.system.ServiceExtension
  extensions/api/data-management/contractnegotiation/src/main/java/org/eclipse/dataspaceconnector/api/datamanagement/contractnegotiation/ContractNegotiationApiController.java
  extensions/api/data-management/transferprocess/src/test/java/org/eclipse/dataspaceconnector/api/datamanagement/transferprocess/TransferProcessApiApiControllerTest.java
  extensions/transfer-file/build.gradle.kts
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataSink.java
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataSinkFactory.java
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataSource.java
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferDataSourceFactory.java
  launchers/consumer-connector/build.gradle.kts
  launchers/provider-connector/build.gradle.kts
  samples/04.0-file-transfer/consumer/build.gradle.kts
  samples/04.0-file-transfer/provider/build.gradle.kts
  samples/04.0-file-transfer/provider/config.properties
  samples/04.0-file-transfer/registry/contractoffers/test-battery-1_oem.json
  samples/04.0-file-transfer/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferExtension.java
  settings.gradle.kts
Owners: @ndr-brt, @paullatzelsperger, @ronjaquensel

resolve issues in frontend app and implement QR code scanning - work in progress
  extensions/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferExtension.java
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/package-lock.json
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/package.json
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/assets/QR.png
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/assets/providers.json
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/assets/users.json
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/BatteryPassport.vue
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/BatteryPassport_old.vue
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/Home.vue
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/ScanPassport.vue
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/SignUp.vue
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/router.js
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/vue.config.js
Owners: @ronjaquensel

Create networkpolicy
  deployment/consumer-ui/networkpolicy
Owners: none

consumer frontend: fix role based access issue, provider: add assets creation scripts - work in progress, update registry/metadata files
  extensions/api/data-management/contractnegotiation/src/main/java/org/eclipse/dataspaceconnector/api/datamanagement/contractnegotiation/ContractNegotiationApiController.java
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/assets/providers.json
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/assets/users.json
  samples/04.0-file-transfer/material-passport/consumer_webclient/materialpass-webclient/src/components/BatteryPassport.vue
  samples/04.0-file-transfer/provider/config.properties
  samples/04.0-file-transfer/provider/create_asset.sh
  samples/04.0-file-transfer/provider/create_policy.sh
  samples/04.0-file-transfer/registry/contractoffers/test-battery-1_recycler.json
  samples/04.0-file-transfer/registry/metadata/BASF_Raw Material Supplier.json
  samples/04.0-file-transfer/registry/metadata/BMW_OEM.json
  samples/04.0-file-transfer/registry/metadata/LRP_Dismantler.json
  samples/04.0-file-transfer/registry/metadata/Panasonic_BatteryProducer.json
  samples/04.0-file-transfer/registry/metadata/Tech4u_Recycler.json
Owners: @ndr-brt, @paullatzelsperger, @ronjaquensel

move deployment/ingress-edc.yaml to deployment/consumer-ui/ingress-edc.yaml
  deployment/consumer-ui/ingress-edc.yaml
Owners: none

add rule for provider to edc-ingress.yaml
  deployment/consumer-ui/ingress-edc.yaml
  deployment/consumer-ui/service.yaml
Owners: none

move ingress-edc.yaml from deployment/consumer-ui to deployment folder
  deployment/ingress-edc.yaml
Owners: none

add int to host path
  deployment/ingress-edc.yaml
Owners: none

change protocol from https to http
  deployment/ingress-edc.yaml
Owners: none

remove comment force-ssl-redirect
  deployment/ingress-edc.yaml
Owners: none

swtich consumer-ui to https protocol - image change
  deployment/consumer-ui/deployment.yaml
Owners: none

change settings to HTTPS
  deployment/ingress-edc.yaml
Owners: none

test http settings
  deployment/consumer-ui/deployment.yaml
  deployment/ingress-edc.yaml
Owners: none

test guestbook with ingress
  deployment/ingress-edc.yaml
Owners: none

test app helloworld
  deployment/helloworld/deployment.yaml
  deployment/helloworld/service.yaml
  deployment/ingress-edc.yaml
Owners: none

fixed typo in deployment/helloworld/service.yaml
  deployment/helloworld/service.yaml
Owners: none

test to remove NodePort type in helloworld/service
  deployment/helloworld/service.yaml
Owners: none

app rule for consumer-ui in deployment/ingress-edc.yaml
  deployment/ingress-edc.yaml
Owners: none

test - add multiple ports to edc-provider in deployment/ingress-edc.yaml
  deployment/ingress-edc.yaml
Owners: none

test - fixed indentation in deployment/ingress-edc.yaml
  deployment/ingress-edc.yaml
Owners: none

test - change apiVersion
  deployment/ingress-edc.yaml
Owners: none

test - configure correct port for edc-provider in deployment/ingress
  deployment/ingress-edc.yaml
Owners: none

change port to 8182 in deployment/ingress
  deployment/ingress-edc.yaml
Owners: none

hardcoded the target ports in deployment/edc-provider/service.yaml
  deployment/edc-provider/service.yaml
Owners: none

test nginx
  deployment/consumer-ui/deployment.yaml
  deployment/consumer-ui/service.yaml
  deployment/ingress-edc.yaml
Owners: none

remove networkpolicy
  deployment/consumer-ui/networkpolicy
Owners: none

CODEOWNERS:

# This file provides an overview of responsibilities in this repository.

# Please note that this file does not represent all contributions to the code. What persons and organizations
# actually contributed to each file can be seen on GitHub and is documented in the license headers.

# Each line is a file pattern followed by one or more contact persons. The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# The linked persons are automatically added as reviewers when a pull request is opened.

# Docs and util directories are omitted. Spi files as well, as this should already be covered by extension and core implementations.

CONTRIBUTING.md @MoritzKeppler @juliapampus @alexandrudanciu @mspiekermann
LICENSE @MoritzKeppler @juliapampus @alexandrudanciu @mspiekermann
NOTICE.md @alexandrudanciu @mspiekermann
onboarding.md @paullatzelsperger
openapi.md @paullatzelsperger
SECURITY.md @alexandrudanciu @mspiekermann
styleguide.md @paullatzelsperger

.github/ISSUE_TEMPLATE @juliapampus @paullatzelsperger
.github/workflows/ @paullatzelsperger @ndr-brt @algattik @ouphi

/common/state-machine-lib/ @ndr-brt @algattik
/common/token-generation-lib/ @bscholtes1A
/common/token-validation-lib/ @bscholtes1A

/core/base/src/main/java/org/eclipse/dataspaceconnector/core/base/agent/ @jimmarino
/core/base/src/main/java/org/eclipse/dataspaceconnector/core/base/policy/ @jimmarino
/core/base/src/main/java/org/eclipse/dataspaceconnector/core/base/health/ @paullatzelsperger

/core/base/src/main/java/org/eclipse/dataspaceconnector/core/boot/ @jimmarino @paullatzelsperger
/core/base/src/main/java/org/eclipse/dataspaceconnector/core/contract/ @jimmarino @juliapampus @ronjaquensel
/core/base/src/main/java/org/eclipse/dataspaceconnector/core/micrometer/ @algattik
/core/base/src/main/java/org/eclipse/dataspaceconnector/core/policy/ @jimmarino
/core/base/src/main/java/org/eclipse/dataspaceconnector/core/transfer/ @jimmarino @bscholtes1A @paullatzelsperger @ndr-brt

/data-protocols/ids/ @ronjaquensel @DominikPinsel @denisneuling @juliapampus

/extensions/api/ @ndr-brt @paullatzelsperger
/extensions/aws/ @paullatzelsperger
/extensions/azure/ @paullatzelsperger
/extensions/catalog/ @paullatzelsperger
/extensions/data-plane/ @bscholtes1A @jimmarino
/extensions/data-plane-selector/ @paullatzelsperger
/extensions/data-plane-transfer/ @bscholtes1A
/extensions/dataloading/ @paullatzelsperger
/extensions/filesystem/ @jimmarino @paullatzelsperger
/extensions/http/ @paullatzelsperger
/extensions/http-receiver/ @bscholtes1A
/extensions/iam/daps/ @bscholtes1A
/extensions/iam/decentralized-identity/ @paullatzelsperger
/extensions/iam/iam-mock/ @jimmarino
/extensions/iam/oauth2/ @bscholtes1A @jimmarino
/extensions/in-memory/assetindex-memory/ @paullatzelsperger
/extensions/in-memory/contractdefinition-store-memory/ @jimmarino
/extensions/in-memory/did-document-store-inmem/ @paullatzelsperger
/extensions/in-memory/fcc-node-directory-memory/ @paullatzelsperger
/extensions/in-memory/fcc-store-memory/ @paullatzelsperger
/extensions/in-memory/identity-hub-memory/ @paullatzelsperger
/extensions/in-memory/negotiation-store-memory/ @paullatzelsperger
/extensions/in-memory/policy-store-memory/ @Izzzu
/extensions/in-memory/transfer-store-memory/ @jimmarino
/extensions/jdk-logger-monitor/ @cpeeyush
/extensions/policy/ @ndr-brt
/extensions/sql/ @bcronin90 @denisneuling @paullatzelsperger
/extensions/transaction/ @jimmarino
/extensions/transfer-functions/ @jimmarino

/launchers/basic/ @paullatzelsperger
/launchers/data-loader-cli/ @paullatzelsperger @ronjaquensel
/launchers/data-plane-server/ @bscholtes1A
/launchers/dpf-selector/ @paullatzelsperger
/launchers/ids-connector/ @ronjaquensel
/launchers/junit/ @jimmarino @paullatzelsperger @algattik @ndr-brt
/launchers/registration-service-app/ @paullatzelsperger

/resources/charts/ @algattik
/resources/openapi/ @paullatzelsperger

/samples/01-basic-connector/ @paullatzelsperger
/samples/02-health-endpoint/ @paullatzelsperger
/samples/03-configuration/ @paullatzelsperger
/samples/04.0-file-transfer/ @ronjaquensel
/samples/04.1-file-transfer-listener/ @algattik
/samples/04.2-modify-transferprocess/ @paullatzelsperger
/samples/04.3-open-telemetry/ @algattik
/samples/05-file-transfer-cloud/ @paullatzelsperger
/samples/other/ @paullatzelsperger

/system-tests/e2e-transfer-test/ @ndr-brt
/system-tests/minikube/ @algattik
/system-tests/runtimes/ @algattik
